@import "tailwindcss";
html, body {
  height: 100%;
  margin: 0;
}
body{
   margin: 0;
  padding: 0;
background: black;
}
.ba
.icons li{
 padding: 12px;
}
ul li{
  border-radius: 30px;
  padding: 0 0 5px 5px;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
.line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
.borderz{
  border-width: 1px;
}
